<form class="form-horizontal" id="itemForm" role="form" method="post" action="/item/edit">
    <input type="hidden" id="itemId" name="itemId" value="{{ item.i_id }}" />
    {% if item.i_item_serial==null %}
    <input type="hidden" id="action" name="action" value="save" />
    {% else %}
    <input type="hidden" id="action" name="action" value="save_edit" />
    {% endif %}
    <input type="hidden" id="controller" name="controller" value="item" />
    <div class="modal fade bs-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg item-edit">
            <div class="modal-content">
                <div class="modal-header edit-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Edit Item</h4>
                </div>
                <div class="modal-body">
                    <div class="form-container">
                        <div class="">
                            <div class="row">
                                <div class="col-lg-12 alert-message-modal"></div>
                            </div>
                            {% if item.m_model_item_has_serial == 1 %}
                            <div class="row item-serial-container alert alert-info alert-serial-item">
                                <div class="col-lg-6 col-lg-offset-2">
                                    <div class="form-group">
                                        <input type="hidden" value="{{ item.i_id }}" id="itemId">
                                        <input type="text" class="form-control input-lg input-item-serial" id="itemSerial" name="itemSerial" placeholder="Item Serial" value="{{ item.i_item_serial }}">
                                        <label for="itemSerial" class="serial-error"></label>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <button data-loading-text="Loading..." class="btn btn-warning btn-lg btn-item-serial" type="button">Check</button>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row item-details-container">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="itemCurrentStatus" class="col-sm-4 control-label">Current Status:</label>
                                        <div class="col-sm-6">
                                            <span for="itemCurrentStatus" class="col-sm-7 item-current-status label
                                                   {% if item.i_item_status=='pending_info' %}
                                                    label-primary
                                                    {% elseif item.i_item_status=='in_stock' %}
                                                    label-success
                                                    {% elseif item.i_item_status=='pending_discount' %}
                                                    label-info
                                                    {% elseif item.i_item_status=='sold' %}
                                                    label-active
                                                    {% elseif item.i_item_status=='warranty' %}
                                                    label-warning
                                                    {% elseif item.i_item_status=='warranty_replaced' %}
                                                    label-danger
                                                    {% endif %}
                                                   ">
                                                {% if item.i_item_status=='pending_info' %}
                                                Pending Info
                                                {% elseif item.i_item_status=='in_stock' %}
                                                In Stock
                                                {% elseif item.i_item_status=='pending_discount' %}
                                                Pending Discount
                                                {% elseif item.i_item_status=='sold' %}
                                                Sold
                                                {% elseif item.i_item_status=='warranty' %}
                                                Warranty
                                                {% elseif item.i_item_status=='returned' %}
                                                Returned
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    {% if item.i_item_status!='pending_info' %}
                                    <div class="form-group">
                                        <label for="itemStatus" class="col-sm-4 control-label">Change Status:</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="itemStatus" name="itemStatus">
                                                <option value="{{ item.i_item_status }}">Select Status</option>
                                                {% if item.i_item_status=='warranty' %}
                                                <option value="warranty_replaced">Warranty - Replaced</option>
                                                {% else %}
                                                <option value="warranty">Warranty</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <label for="itemColor" class="col-sm-4 control-label">Change Color:</label>
                                        <div class="col-sm-6">
                                            <select class="form-control required" id="itemColor" name="itemColor">
                                                <option value="" {% if item.i_item_color==null%}selected{% endif %}>Select color</option>
                                                <option value="White" {% if item.i_item_color=='White'%}selected{% endif %}>White</option>
                                                <option value="Black" {% if item.i_item_color=='Black'%}selected{% endif %}>Black</option>
                                                <option value="Silver" {% if item.i_item_color=='Silver'%}selected{% endif %}>Silver</option>
                                                <option value="Gray" {% if item.i_item_color=='Gray'%}selected{% endif %}>Gray</option>
                                                <option value="Red" {% if item.i_item_color=='Red'%}selected{% endif %}>Red</option>
                                                <option value="Yellow" {% if item.i_item_color=='Yellow'%}selected{% endif %}>Yellow</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="itemHasWarranty" class="col-sm-4 control-label">Has Warranty:</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="itemHasWarranty" name="itemHasWarranty">
                                                <option value="0" {% if item.i_item_has_warranty==0 %}selected{% endif %}>No</option>
                                                <option value="1" {% if item.i_item_has_warranty==1 %}selected{% endif %}>Yes</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="{% if item.i_item_has_warranty==0 %}hidden{% endif %}" id="warranty-field">
                                        <div class="form-group">
                                            <label for="itemWarranty" class="col-sm-4 control-label">Change Warranty:</label>
                                            <div class="col-sm-6">
                                                <select class="form-control required" id="itemWarranty" name="itemWarranty" {% if item.i_item_has_warranty==0 %}disabled{% endif %}>
                                                    <option value="" {% if item.i_item_warranty==null%}selected{% endif %}>Select warranty</option>
                                                    {% for warranty in warranties %}
                                                    <option value="{{ warranty.w_id }}" {% if item.i_item_warranty==warranty.w_id %}selected{% endif %}>{{ warranty.w_warranty_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="itemNotes" class="col-sm-4 control-label">Item Notes:</label>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12">
                                                <textarea class="form-control" rows="4" id="itemNotes" name="itemNotes" placeholder="Enter notes for this item ....">{{ item.i_item_notes }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 immutable-data">
                                    <div class="form-group">
                                        <label for="modelSerial" class="col-sm-4 control-label">Model Serial:</label>
                                        <div class="col-sm-6">
                                            <label for="modelBrand" class="col-sm-10 control-label">{{ item.m_model_serial }}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="modelBrand" class="col-sm-4 control-label">Brand:</label>
                                        <div class="col-sm-6">
                                            <label for="modelBrand" class="col-sm-10 control-label">{{ item.m_model_brand }}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="modelModel" class="col-sm-4 control-label">Model:</label>
                                        <div class="col-sm-6">
                                            <label for="modelModel" class="col-sm-10 control-label">{{ item.m_model_model }}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="modelCategory" class="col-sm-4 control-label">Category:</label>
                                        <div class="col-sm-6">
                                            <label for="modelCategory" class="col-sm-10 control-label">{{ item.c_category_name }}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="modelPrice" class="col-sm-4 control-label">Price:</label>
                                        <div class="col-sm-6">
                                            <label for="modelCategory" class="col-sm-10 control-label">{{ item.b_bulk_price }} L.E.</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <!--
                                        <button class="btn btn-default btn-item-specs">Show Specifications</button>
                                        <div class="modal fade modal-item-specs" tabindex="-1" role="dialog" aria-labelledby="itemSpecs" aria-hidden="true">
                                          <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                {{ item.m_model_specs }}
                                            </div>
                                          </div>
                                        </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer modal-footer-override">
                    <button type="button" class="btn btn-default btn-item-edit-close" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success btn-item-edit-save">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>
