{% extends 'istoregomlaphoneBundle::layout.html.twig' %}
{% block body %}
<form class="form-horizontal" role="form" method="post" id="supplierForm">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>Edit Supplier</h4>
		</div>
		<div class="panel-body">
			<div class="form-container">
				<div class="">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="supplierName" class="col-sm-4 control-label">Supplier Name</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="supplierName" name="supplierName" placeholder="Name" value="{{ supplier.supplierName }}">
								</div>
							</div>
                                                        <div class="form-group">
								<label for="supplierPhone" class="col-sm-4 control-label">Supplier Phone</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="supplierPhone" name="supplierPhone" placeholder="Phone" value="{{ supplier.supplierPhone }}">
								</div>
							</div>
                                                        <div class="form-group">
								<label for="supplierEmail" class="col-sm-4 control-label">Supplier Email</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="supplierEmail" name="supplierEmail" placeholder="Email" value="{{ supplier.supplierEmail }}">
								</div>
							</div>
                                                        <div class="form-group">
								<label for="supplierGovernorate" class="col-sm-4 control-label">Supplier Governorate</label>
								<div class="col-sm-6">
									<select class="form-control required" id="supplierGovernorate" name="supplierGovernorate">
										<option value="" selected>Select governorate</option>
										{% for governorate in governorates %}
										<option value="{{ governorate.g_id }}" {% if governorate.g_id == supplier.supplierGovernorateId %}selected{% endif %}>{{ governorate.g_governorate_name }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
                                                        <div class="form-group">
								<label for="supplierAddress" class="col-sm-4 control-label">Supplier Address</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="supplierAddress" name="supplierAddress" placeholder="Address" value="{{ supplier.supplierAddress }}">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<button type="submit" class="btn btn-success btn-lg">Edit Supplier</button>
		</div>
	</div>
</form>
<input type="hidden" value="{{ action }}" id="action">
<input type="hidden" value="{{ controller }}" id="controller">
{% endblock %}
