{% extends 'istoregomlaphoneBundle::layout.html.twig' %}
{% block body %}
<input type="hidden" id="validationMessage" value="{{ message }}">
<form class="form-horizontal" role="form" method="post" id="modelForm">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>{% trans %}Add New Model{% endtrans %}</h4>
		</div>
		<div class="panel-body">
			<div class="form-container">
				<div class="">
					<div class="row input-serial alert alert-info alert-serial-model">
						<div class="col-lg-5 col-lg-offset-3">
							<div class="form-group">
								<input type="text" class="form-control input-lg" id="modelSerial" name="modelSerial" placeholder="{% trans %}Enter Model Serial{% endtrans %}">
                                                                <label for="modelSerial" class="serial-error"></label>
							</div>
						</div>
						<div class="col-lg-1">
							<button id="model-serial" data-loading-text="{% trans %}Loading{% endtrans %}..." class="btn btn-warning btn-lg" type="button">{% trans %}Check{% endtrans %}</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="modelBrand" class="col-sm-4 control-label">{% trans %}Brand Name{% endtrans %}</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="modelBrand" name="modelBrand" placeholder="{% trans %}Brand Name{% endtrans %}">
								</div>
							</div>
							<div class="form-group">
								<label for="modelModel" class="col-sm-4 control-label">{% trans %}Model{% endtrans %}</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="modelModel" name="modelModel" placeholder="{% trans %}Model{% endtrans %}">
								</div>
							</div>
							<div class="form-group">
								<label for="modelCategory" class="col-sm-4 control-label">{% trans %}Category{% endtrans %}</label>
								<div class="col-sm-6">
									<select class="form-control required" id="modelCategory" name="modelCategory">
										<option value="" selected>{% trans %}Select category{% endtrans %}</option>
										{% for category in categories %}
										<option value="{{ category.c_id }}">{{ category.c_category_name }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="modelSpecs" class="col-sm-4 control-label">{% trans %}Specifications{% endtrans %}</label>
								<div class="col-sm-7">
									<textarea class="form-control" rows="3" id="modelSpecs" name="modelSpecs" placeholder="{% trans %}Enter specifications{% endtrans %} ...."></textarea>
								</div>
							</div>
						</div>
                                                <div class="col-md-6">
                                                        <label for="modelItemHasSerial" class="col-sm-4 control-label">{% trans %}Item has serial{% endtrans %}</label>
                                                        <div class="col-sm-3">
                                                                <select class="form-control required" id="modelItemHasSerial" name="modelItemHasSerial">
                                                                        <option value="1" selected>{% trans %}Yes{% endtrans %}</option>
                                                                        <option value="0">{% trans %}No{% endtrans %}</option>
                                                                </select>
                                                        </div>
                                                </div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<button type="submit" class="btn btn-success btn-lg">{% trans %}Add Model{% endtrans %}</button>
		</div>
	</div>
</form>
<input type="hidden" value="{{ action }}" id="action">
<input type="hidden" value="{{ controller }}" id="controller">
{% endblock %}