{% extends 'istoregomlaphoneBundle::layout.html.twig' %}
{% block body %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="">
			{% trans %}Reports{% endtrans %}
		</h4>
	</div>
	<div class="panel-body">
                <div id="reportPage">
                        <div class="report-criteria form-container">
                                <form class="form-horizontal" action="/report/print" method="post" id="reportForm" target="_blank">
                                        <div class="row">
                                                <div class="col-md-6">
                                                        <div class="form-group">
                                                                <label for="reportType" class="col-sm-4 control-label">{% trans %}Report Type{% endtrans %}</label>
                                                                <div class="col-sm-6">
                                                                        <select class="form-control" id="reportType" name="reportType">
                                                                                <option value="stock" selected>{% trans %}Stock{% endtrans %}</option>
                                                                                <option value="sales">{% trans %}Sales{% endtrans %}</option>
                                                                                <option value="suppliers">{% trans %}Suppliers{% endtrans %}</option>
                                                                                <option value="customers">{% trans %}Customers{% endtrans %}</option>
                                                                        </select>
                                                                </div>
                                                        </div>
                                                        <div class="form-group report-status">
                                                                <label for="reportStatus" class="col-sm-4 control-label">{% trans %}Status{% endtrans %}</label>
                                                                <div class="col-sm-6">
                                                                        <select class="form-control" id="reportStatus" name="reportStatus">
                                                                                <option value="" selected>{% trans %}All status{% endtrans %}</option>
                                                                                <option value="pending_info">{% trans %}Pending Info{% endtrans %}</option>
                                                                                <option value="in_stock">{% trans %}In Stock{% endtrans %}</option>
                                                                                <option value="sold">{% trans %}Sold{% endtrans %}</option>
                                                                                <option value="warranty">{% trans %}Warranty{% endtrans %}</option>
                                                                                <option value="warranty_replaced">{% trans %}Warranty - Replaced{% endtrans %}</option>
                                                                        </select>
                                                                </div>
                                                        </div>
                                                        <div class="form-group report-payment hidden">
                                                                <label for="reportPayment" class="col-sm-4 control-label">{% trans %}Filter By{% endtrans %}</label>
                                                                <div class="col-sm-6">
                                                                        <select class="form-control" id="reportPayment" name="reportPayment">
                                                                                <option value="prepaid" selected>{% trans %}Prepaid{% endtrans %}</option>
                                                                                <option value="postpaid">{% trans %}Postpaid{% endtrans %}</option>
                                                                                <option value="amount">{% trans %}Amount{% endtrans %}</option>
                                                                        </select>
                                                                </div>
                                                        </div>
                                                        <div class="form-group report-range hidden">
                                                                <label for="reportRange" class="col-sm-4 control-label">{% trans %}Period{% endtrans %}</label>
                                                                <div class="col-sm-6">
                                                                        <select class="form-control" id="reportRange" name="reportRange" disabled>
                                                                                <option value="" selected>{% trans %}Select period{% endtrans %}</option>
                                                                                <option value="today">{% trans %}Today{% endtrans %}</option>
                                                                                <option value="this_week">{% trans %}This Week{% endtrans %}</option>
                                                                                <option value="last_week">{% trans %}Last Week{% endtrans %}</option>
                                                                                <option value="this_month">{% trans %}This Month{% endtrans %}</option>
                                                                                <option value="last_month">{% trans %}Last Month{% endtrans %}</option>
                                                                                <option value="this_year">{% trans %}This Year{% endtrans %}</option>
                                                                                <option value="last_year">{% trans %}Last Year{% endtrans %}</option>
                                                                                <option value="range">{% trans %}Custom Range{% endtrans %}</option>
                                                                        </select>
                                                                </div>
                                                                <label for="reportRange" class="report-range-error control-label"></label>
                                                        </div>
                                                        <div class="form-group report-from-date hidden">
                                                                <label for="reportFromDate" class="col-sm-4 control-label">{% trans %}From Date{% endtrans %}</label>
                                                                <div class="col-sm-6">
                                                                        <input type="text" class="form-control" id="reportFromDate" name="reportFromDate" placeholder="{% trans %}From{% endtrans %}" data-date-format="YYYY-MM-DD" disabled>
                                                                </div>
                                                        </div>
                                                        <div class="form-group report-to-date hidden">
                                                                <label for="reportToDate" class="col-sm-4 control-label">{% trans %}To Date{% endtrans %}</label>
                                                                <div class="col-sm-6">
                                                                        <input type="text" class="form-control" id="reportToDate" name="reportToDate" placeholder="{% trans %}To{% endtrans %}" data-date-format="YYYY-MM-DD" disabled>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="col-md-6">
                                                        <div class="form-group report-category">
                                                                <label for="reportCategory" class="col-sm-2 control-label">{% trans %}Category{% endtrans %}</label>
                                                                <div class="col-sm-6">
                                                                        <select class="form-control" id="reportCategory" name="reportCategory">
                                                                                <option value="" selected>{% trans %}All categories{% endtrans %}</option>
                                                                                {% for category in categories %}
                                                                                <option value="{{ category.c_id }}">{{ category.c_category_name }}</option>
                                                                                {% endfor %}
                                                                        </select>
                                                                </div>
                                                        </div>
                                                        <div class="form-group report-model">
                                                                <label for="reportModel" class="col-sm-2 control-label">{% trans %}Models{% endtrans %}</label>
                                                                <div class="col-sm-9">
                                                                        <div class="multiselect" id="reportModel" name="reportModel">
                                                                                <label class="checkall">
                                                                                    <input type="checkbox" name="" value="" class="checkall"/>{% trans %}(un)check all{% endtrans %}
                                                                                </label>
                                                                                <label class="multiselect-divider"></label>
                                                                                {% for model in models %}
                                                                                <label class="category-{{model.ca_id}}">
                                                                                    <input type="checkbox" name="reportModel[]" value="{{ model.m_id }}" class="category-{{model.ca_id}}"/>{{ model.br_brand_name }} {{ model.m_model_name }} {{ model.co_color_name }} {{ model.m_model_number }}
                                                                                </label>
                                                                                {% endfor %}
                                                                        </div>
                                                                </div>
                                                                <label for="reportModel" class="report-model-error control-label"></label>
                                                        </div>
                                                        <div class="form-group report-supplier hidden">
                                                                <label for="reportSupplier" class="col-sm-2 control-label">{% trans %}Suppliers{% endtrans %}</label>
                                                                <div class="col-sm-9">
                                                                        <div class="multiselect" id="reportSupplier" name="reportSupplier">
                                                                                <label class="checkall">
                                                                                    <input type="checkbox" name="" value="" class="checkall"/>{% trans %}(un)check all{% endtrans %}
                                                                                </label>
                                                                                <label class="multiselect-divider"></label>
                                                                                {% for supplier in suppliers %}
                                                                                <label class="supplier-{{supplier.sp_id}}">
                                                                                    <input type="checkbox" name="reportSupplier[]" value="{{ supplier.sp_id }}" class="supplier-{{supplier.sp_id}}"/>{{ supplier.sp_supplier_name }} 
                                                                                </label>
                                                                                {% endfor %}
                                                                        </div>
                                                                </div>
                                                                <label for="reportSupplier" class="report-supplier-error control-label"></label>
                                                        </div>
                                                        <div class="form-group report-customer hidden">
                                                                <label for="reportCustomer" class="col-sm-2 control-label">{% trans %}Customers{% endtrans %}</label>
                                                                <div class="col-sm-9">
                                                                        <div class="multiselect" id="reportCustomer" name="reportCustomer">
                                                                                <label class="checkall">
                                                                                    <input type="checkbox" name="" value="" class="checkall"/>{% trans %}(un)check all{% endtrans %}
                                                                                </label>
                                                                                <label class="multiselect-divider"></label>
                                                                                {% for customer in customers %}
                                                                                <label class="customer-{{customer.cu_id}}">
                                                                                    <input type="checkbox" name="reportCustomer[]" value="{{ customer.cu_id }}" class="customer-{{customer.cu_id}}"/>{{ customer.cu_customer_name }}
                                                                                </label>
                                                                                {% endfor %}
                                                                        </div>
                                                                </div>
                                                                <label for="reportCustomer" class="report-customer-error control-label"></label>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-12">
                                                        <div class="form-group">
                                                                <div class="col-sm-12">
                                                                        <a href="" class="btn btn-primary btn-lg" id="viewReport">{% trans %}View Report{% endtrans %}</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </form>
                        </div>
                        <div class="report-view">
                                <table class="table table-hover table-view">
                                        <tr>
                                                <td colspan="2">{% trans %}There is no report to display.{% endtrans %}</td>
                                        </tr>
                                </table>
                        </div>
                </div>
        </div>
</div>
<input type="hidden" value="{{ action }}" id="action">
<input type="hidden" value="{{ controller }}" id="controller">
{% endblock %}