{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <title>{% trans %}REPORT{% endtrans %}</title>
        <link href="/bundles/istoregomlaphone/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <link rel='stylesheet' type='text/css' href='/bundles/istoregomlaphone/css/style-bill.css' />
        <link rel='stylesheet' type='text/css' href='/bundles/istoregomlaphone/css/print.css' media="print" />
        <link rel="stylesheet" href="/bundles/istoregomlaphone/css/style.css">
    </head>
    <body>
        <div id="page-wrap" class="page-border">
            <div class="print-control">
                <a href="javascript:window.print()" class="btn btn-lg btn-default btn-print">{% trans %}Print{% endtrans %}</a>
                <a href="javascript:window.close()" class="btn btn-lg btn-default btn-print">{%trans%}Close{%endtrans%}</a>
            </div>
            <div id="header">{% trans %}REPORT{% endtrans %}</div>
            <!--
            <div id="identity">
                <div id="address">
                    <div>Chris Coyier</div>
                    <div>123 Appleseed Street</div>
                    <div>Appleville, WI 53719</div>

                    <div>Phone: (555) 555-5555</div>
                </div>
                <div id="logo">
                    <img id="image" src="/bundles/istoregomlaphone/img/samsung_logo.png" alt="logo" />
                </div>
            </div>
            <div style="clear:both"></div>
            <div id="customer">
                
                
            </div>
            -->
{% if report|length %}
<table class="table table-striped table-bordered table-report-view-compact">
        <tr class="active">
                <th class="text-center">{% trans %}Supplier Name{% endtrans %}</th>
                <th class="text-center">{% trans %}Supplier Phone{% endtrans %}</th>
                <th class="text-center">{% trans %}Total Due{% endtrans %}</th>
                <th class="text-center">{% trans %}Total Paid{% endtrans %}</th>
                <th class="text-center">{% trans %}Total Remaining{% endtrans %}</th>
        </tr>
        
        {% set total_due = 0 %}
        {% set total_paid = 0 %}
        
        {% for supplier in report %}
                {% set total_due = total_due + supplier.transaction_total_due %}
                {% set total_paid = total_paid + supplier.transaction_total_paid %}
                        
                <tr class="text-center">
                        <td >{{ supplier.sp_supplier_name }}</td>
                        <td >{{ supplier.sp_supplier_phone }}</td>
                        <td >{{ supplier.transaction_total_due }}</td>
                        <td >{{ supplier.transaction_total_paid }}</td>
                        <td >{{ supplier.transaction_total_due - supplier.transaction_total_paid }}</td>
                </tr>
        {% endfor %}
        <tr>
                <th colspan="2" class="text-center"> {% trans %}Total{% endtrans %}</th>
                <th class="text-center">{{ total_due }}</th>
                <th class="text-center">{{ total_paid }}</th>
                <th class="text-center">{{ total_due - total_paid }}</th>
        </tr>
</table>
{% else %}
<table class="table table-hover table-view">
        <tr>
                <td colspan="2">{% trans %}There is no report to display.{% endtrans %}</td>
        </tr>
</table>
{% endif %}
            
            <div class="print-control">
                <a href="javascript:window.print()" class="btn btn-lg btn-default btn-print">{% trans %}Print{% endtrans %}</a>
                <a href="javascript:window.close()" class="btn btn-lg btn-default btn-print">{%trans%}Close{%endtrans%}</a>
            </div>
        </div>
    </body>
</html>
{% endblock %}