{% if report|length %}
<table class="table table-bordered table-report-view-compact">
        <tr class="active">
                <th class="text-center">{% trans %}From{% endtrans %}</th>
                <th class="text-center">{% trans %}To{% endtrans %}</th>
                <th class="text-center">{% trans %}Payment Method{% endtrans %}</th>
                <th class="text-center">{% trans %}Subtotal{% endtrans %}</th>
                <th class="text-center">{% trans %}Total Discount{% endtrans %}</th>
                <th class="text-center">{% trans %}Total Due{% endtrans %}</th>
                <th class="text-center">{% trans %}Total Paid{% endtrans %}</th>
                <th class="text-center">{% trans %}Total Remaining{% endtrans %}</th>
        </tr>
        <tr class="">
                <td rowspan="2" class="vertical-middle text-center">{{ report.from_date }}</td>
                <td rowspan="2" class="vertical-middle text-center">{{ report.to_date }}</td>
                <td class="text-center">{% trans %}Prepaid{% endtrans %}</td>
                <td class="text-center">{{ report.prepaid.subtotal }}</td>
                <td class="text-center">{{ report.prepaid.discount }}</td>
                <td class="text-center">{{ report.prepaid.subtotal - report.prepaid.discount }}</td>
                <td class="text-center">{{ report.prepaid.subtotal - report.prepaid.discount }}</td>
                <td class="text-center">-</td>
        </tr>
        <tr class="">
                
                <td class="text-center">{% trans %}Postpaid{% endtrans %}</td>
                <td class="text-center">{{ report.postpaid.subtotal }}</td>
                <td class="text-center">{{ report.postpaid.discount }}</td>
                <td class="text-center">{{ report.postpaid.subtotal - report.postpaid.discount }}</td>
                <td class="text-center">{{ report.postpaid.total_paid }}</td>
                <td class="text-center">{{ report.postpaid.subtotal - report.postpaid.discount - report.postpaid.total_paid }}</td>
        </tr>
        <tr class="">
                <th colspan="3" class="text-center">{% trans %}Sum{% endtrans %}</th>
                <th class="text-center">{{ report.prepaid.subtotal + report.postpaid.subtotal }}</th>
                <th class="text-center">{{ report.prepaid.discount + report.postpaid.discount }}</th>
                <th class="text-center">{{ report.prepaid.subtotal - report.prepaid.discount + report.postpaid.subtotal - report.postpaid.discount }}</th>
                <th class="text-center success">{{ report.prepaid.subtotal - report.prepaid.discount + report.postpaid.total_paid }}</th>
                <th class="text-center danger">{{ report.postpaid.subtotal - report.postpaid.discount - report.postpaid.total_paid }}</th>
        </tr>
        <tr class="text-center">
                <td colspan="9">
                        <a href="" class="btn btn-info btn-lg hidden" id="exportReportPDF">Export PDF</a>
                        <a href="" class="btn btn-info btn-lg" id="printReport" target="_blank">Print</a>
                </td>
        </tr>
</table>
{% else %}
<table class="table table-hover table-view">
        <tr>
                <td colspan="2">{% trans %}There is no report to display.{% endtrans %}</td>
        </tr>
</table>
{% endif %}