<div class="col-md-10">
        <div class="form-horizontal" id="bulkForm">
                <div class="form-container">
                        <div class="">
                                <div class="row input-serial alert alert-info alert-serial-model alert-serial-model-override">
                                        <div class="col-lg-7 col-lg-offset-2">
                                                <div class="form-group">
                                                        <input type="text" class="form-control input-lg" id="bulkSerial" name="bulkSerial[{{i}}]" placeholder="{% trans %}Enter Model Serial{% endtrans %} {{i}}">
                                                        <label for="bulkSerial" class="bulk-error"></label>
                                                </div>
                                        </div>
                                        <div class="col-lg-1">
                                                <button id="check-model-serial" data-loading-text="{% trans %}Loading{% endtrans %}..." class="btn btn-warning btn-lg" type="button">{% trans %}Check{% endtrans %}</button>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                        <label for="bulkBrand" class="col-sm-5 control-label">{% trans %}Bulk Brand{% endtrans %}</label>
                                                        <div class="col-sm-6">
                                                                <input type="text" class="form-control" disabled id="bulkBrand" name="bulkBrand" placeholder="{% trans %}Brand{% endtrans %}">
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                        <label for="bulkModel" class="col-sm-5 control-label">{% trans %}Bulk Model{% endtrans %}</label>
                                                        <div class="col-sm-6">
                                                                <input type="text" class="form-control" disabled id="bulkModel" name="bulkModel" placeholder="{% trans %}Model{% endtrans %}">
                                                                <!--<label id="bulkModel" name="bulkModel" class="col-sm-12 control-label"></label>-->
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                        <label for="bulkCategory" class="col-sm-5 control-label">{% trans %}Category{% endtrans %}</label>
                                                        <div class="col-sm-6">
                                                                <input type="text" class="form-control" disabled id="bulkCategory" name="bulkCategory" placeholder="{% trans %}Category{% endtrans %}">
                                                                <!--<label id="bulkCategory" name="bulkCategory" class="col-sm-12 control-label"></label>-->
                                                        </div>
                                                </div>
                                                <!--<div class="form-group">
                                                        <label for="bulkSupplier" class="col-sm-5 control-label">{% trans %}Supplier{% endtrans %}</label>
                                                        <div class="col-sm-6">
                                                                <label for="bulkSupplier" class="col-sm-12 control-label">{{ supplier.s_supplier_name }}</label>
                                                        </div>
                                                </div>-->
                                        </div>
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                        <label for="bulkDate" class="col-sm-5 control-label">{% trans %}Transaction Date{% endtrans %}</label>
                                                        <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="bulkDate" name="bulkDate[{{i}}]" placeholder="{% trans %}Select Date{% endtrans %}" data-date-format="YYYY-MM-DD">
                                                                <label for="bulkDate" class="bulk-error"></label>
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                        <label for="bulkPrice" class="col-sm-5 control-label">{% trans %}Unit Price{% endtrans %}</label>
                                                        <div class="col-sm-6">
                                                                <input type="number" class="form-control" id="bulkPrice" name="bulkPrice[{{i}}]" placeholder="{% trans %}Price L.E.{% endtrans %}">
                                                                <label for="bulkPrice" class="bulk-error"></label>
                                                        </div>
                                                </div>
                                                <div class="form-group">
                                                        <label for="bulkQuantity" class="col-sm-5 control-label">{% trans %}Quantity{% endtrans %}</label>
                                                        <div class="col-sm-4">
                                                                <input type="number" class="form-control" id="bulkQuantity" name="bulkQuantity[{{i}}]" placeholder="{% trans %}Quantity{% endtrans %}" value="1">
                                                                <label for="bulkQuantity" class="bulk-error"></label>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>