{% extends 'istoregomlaphoneBundle::layout.html.twig' %}
{% block body %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="">
			{% trans %}Bulk List{% endtrans %}
			<span class="badge {% if(lang=='ar') %}pull-left{% else %}pull-right{% endif %}">({{ total_bulks }}) {% trans %}bulks{% endtrans %}</span>
		</h4>
	</div>
	<div class="panel-body">
		<table class="table table-hover table-view">
			<tr>
				<th>{% trans %}Serial{% endtrans %}</th>
				<th>{% trans %}Brand Name{% endtrans %}</th>
				<th>{% trans %}Model{% endtrans %}</th>
				<th>{% trans %}Category{% endtrans %}</th>
				<th>{% trans %}Price L.E.{% endtrans %}</th>
				<th>{% trans %}Quantity{% endtrans %}</th>
				<th>{% trans %}Supplier{% endtrans %}</th>
				<th>{% trans %}Date{% endtrans %}</th>
				<th>{% trans %}Action{% endtrans %}</th>
			</tr>
                {% if bulks|length %}
		{% for bulk in bulks %}
			<tr>
				<td>{{ bulk.m_model_serial }}</td>
				<td>{{ bulk.m_model_brand }}</td>
				<td>{{ bulk.m_model_model }}</td>
				<td>{{ bulk.c_category_name }}</td>
				<td>{{ bulk.b_bulk_price }}</td>
				<td>{{ bulk.b_bulk_quantity }}</td>
				<td>{{ bulk.s_supplier_name }}</td>
                                <td>{{ bulk.b_bulk_date.format('Y-m-d') }}</td>
				<td>
                                        <a href="/bulk/view/{{bulk.b_id}}" class="btn btn-info btn-sm">{% trans %}View{% endtrans %}</a> - 
					<a href="/bulk/edit/{{bulk.b_id}}" class="btn btn-primary btn-sm">{% trans %}Edit{% endtrans %}</a> - 
                                        <a href="#" class="btn btn-danger btn-sm btn-delete" data-id="bulk:{{bulk.b_id}}:{{ bulk.m_model_brand }} {{ bulk.m_model_model }}">{% trans %}Delete{% endtrans %}</a>
				</td>
			</tr>
		{% endfor %}
                {% else %}
                        <tr>
                            <td colspan="9">{% trans %}There are no bulks.{% endtrans %}</td>
			</tr>
                {% endif %}
			<tr>
				<td colspan="9"><div id="{% if(lang=='ar') %}paginator-ar{% else %}paginator{% endif %}"></div></td>
			</tr>
		</table>
	</div>
	<div class="panel-footer">
		<a href="/bulk/add" class="btn btn-success btn-lg">+ {% trans %}Add New Bulk{% endtrans %}</a>
		<input type="hidden" value="{{ total_pages }}" id="total_pages">
		<input type="hidden" value="{{ current_page }}" id="current_page">
	</div>
</div>
<!-- Delete Confirmation modal -->
<div class="modal fade bs-modal-sm" tabindex="-1" id="deleteConfirmation" role="dialog" aria-labelledby="DeleteConfirmationModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <label id="entityName"></label>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                <a href="" class="btn btn-danger btn-sm btn-delete-confirm">Delete</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="{{ action }}" id="action">
<input type="hidden" value="{{ controller }}" id="controller">
{% endblock %}