{% block body %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="">
                        {% trans %}Search Results{% endtrans %}
			<span class="badge {% if(lang=='ar') %}pull-left{% else %}pull-right{% endif %}">({{ total_items }}) {% trans %}items{% endtrans %}</span>
		</h4>
	</div>
	<div class="panel-body">
		<table class="table table-hover table-view">
			<tr>
				<th>{% trans %}Model Serial{% endtrans %}</th>
                                <th>{% trans %}Item Serial{% endtrans %}</th>
				<th>{% trans %}Model{% endtrans %}</th>
				<th>{% trans %}Category{% endtrans %}</th>
				<th>{% trans %}Price{% endtrans %} ({% trans %}Buy{% endtrans %} - {% trans %}Sell{% endtrans %})</th>
                                <th>{% trans %}Date{% endtrans %}</th>
				<th>{% trans %}Status{% endtrans %}</th>
				<th>{% trans %}Actions{% endtrans %}</th>
			</tr>
                {% if results|length %}
		{% for item in results %}
			<tr 
                            {% if item.i_item_status=='pending_info' %}
                            class="info item_{{item.i_id}}"
                            {% elseif item.i_item_status=='in_stock' %}
                            class="success item_{{item.i_id}}"
                            {% elseif item.i_item_status=='sold' %}
                            class="active item_{{item.i_id}}"
                            {% elseif item.i_item_status=='warranty' %}
                            class="warning item_{{item.i_id}}"
                            {% elseif item.i_item_status=='warranty_replaced' %}
                            class="danger item_{{item.i_id}}"
                            {% endif %}
                            >
                                <td>
                                        <span class="label label-default">{{ item.m_model_serial }}</span>
                                </td>
				<td class="item_serial_{{item.i_id}}">
                                    {% if item.m_model_item_has_serial %}
                                        {% if item.i_item_serial==null %}
                                        <span class="label label-primary">{% trans %}Not Set{% endtrans %}</span>
                                        {% else %}
                                        <span class="label label-default">{{ item.i_item_serial }}</span>
                                        {% endif %}
                                    {% else %}
                                        <span class="label label-default">-</span>
                                    {% endif %}
                                </td>
				<td>{{ item.br_brand_name }} {{ item.m_model_name }} {{ item.co_color_name }}  {{ item.m_model_number }}</td>
				<td>{{ item.c_category_name }}</td>
				<td>{{ item.i_item_buy_price }} - {{ item.i_item_sell_price }}</td>
                                <td>{{ item.t_transaction_date.format('Y-m-d') }}</td>
				<td  class="item_status_{{item.i_id}}">
                                    {% if item.i_item_status=='pending_info' %}
                                    <span class="label label-primary">{% trans %}Pending Info{% endtrans %}</span>
                                    {% elseif item.i_item_status=='in_stock' %}
                                    <span class="label label-success">{% trans %}In Stock{% endtrans %}</span>
                                    {% elseif item.i_item_status=='pending_discount' %}
                                    <span class="label label-info">{% trans %}Pending Discount{% endtrans %}</span>
                                    {% elseif item.i_item_status=='sold' %}
                                    <span class="label label-default">{% trans %}Sold{% endtrans %}</span>
                                    {% elseif item.i_item_status=='warranty' %}
                                    <span class="label label-warning">{% trans %}Warranty{% endtrans %}</span>
                                    {% elseif item.i_item_status=='warranty_replaced' %}
                                    <span class="label label-danger">{% trans %}Warranty - Replaced{% endtrans %}</span>
                                    {% endif %}
                                </td>
                                <!--<td>{{ item.t_transaction_date.format('Y-m-d') }}</td>-->
				<td>
                                    <button type="button" class="btn btn-primary btn-sm btn-item-edit">
                                        {% if item.i_item_status=='pending_info' %}
                                        {% trans %}Update Info{% endtrans %}
                                        {% else %}
                                        {% trans %}Edit{% endtrans %}
                                        {% endif %}
                                        <input type="hidden" value="{{ item.i_id }}" id="item-{{ item.i_id }}">
                                    </button>
                                    {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                                     - <a href="#" class="btn btn-danger btn-sm btn-delete" data-id="item:{{item.i_id}}:{{ item.br_brand_name }} {{ item.m_model_name }} #{{ item.i_item_serial }}">{% trans %}Delete{% endtrans %}</a>
                                    {% endif %}
				</td>
			</tr>
		{% endfor %}
                {% else %}
                        <tr>
                            <td colspan="9">{% trans %}There are no items.{% endtrans %}</td>
			</tr>
                {% endif %}
			<tr>
				<td colspan="9"><div id="{% if(lang=='ar') %}paginator-ar{% else %}paginator-search{% endif %}"></div></td>
			</tr>
		</table>
	</div>
	<div class="panel-footer">
                <div id="editModalContainer"></div>
		<input type="hidden" value="{% if total_pages > 0 %}{{total_pages}}{% else %}1{% endif %}" id="total_pages">
		<input type="hidden" value="{{ current_page }}" id="current_page">
	</div>
</div>
<!-- Delete Confirmation modal -->
<div class="modal fade bs-modal-sm" tabindex="-1" id="deleteConfirmation" role="dialog" aria-labelledby="DeleteConfirmationModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans %}Delete Confirmation{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                {% trans %}Are you sure you want to delete{% endtrans %} <label id="entityName"></label>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                <a href="#" class="btn btn-danger btn-sm btn-delete-confirm">{% trans %}Delete{% endtrans %}</a>
                <input type="hidden" id="entityId" name="entityId" val="">
            </div>
        </div>
    </div>
</div>
{% endblock %}