{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <title>{%trans%}Gomla Phone{%endtrans%}</title>
        <link href="/bundles/istoregomlaphone/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <link rel='stylesheet' type='text/css' href='/bundles/istoregomlaphone/css/style-bill.css' />
        <link rel='stylesheet' type='text/css' href='/bundles/istoregomlaphone/css/print.css' media="print" />
    </head>
    <body>
        <div id="page-wrap" class="page-border">
            <div class="print-control">
                <a href="javascript:window.print()" class="btn btn-lg btn-default btn-print">{%trans%}Print{%endtrans%}</a>
                <a href="javascript:window.close()" class="btn btn-lg btn-default btn-print">{%trans%}Close{%endtrans%}</a>
            </div>
            <div id="header">{%trans%}INVOICE{%endtrans%}</div>
            <div id="identity">
                <div id="address">
                    <div>{%trans%}Gomla Phone{#sale.st_store_name#}{%endtrans%}</div>
                    <div>{%trans%}Elgaish st, Elarb3een, Suez{#sale.st_store_address#}{%endtrans%}</div>

                    <div>{%trans%}Phone{%endtrans%}: {{sale.st_store_phone}}</div>
                </div>
                <div id="logo">
                    <img id="image" src="/bundles/istoregomlaphone/img/samsung_logo.png" alt="logo" />
                </div>
            </div>
            <div style="clear:both"></div>
            <div id="customer">
                <div id="customer-title">
                    {{ sale.c_customer_name }}
                </div>
                <table id="meta">
                    <tr>
                        <td class="meta-head">{%trans%}Invoice#{%endtrans%}</td>
                        <td>{{ sale.s_id }}</td>
                    </tr>
                    <tr>
                        <td class="meta-head">{%trans%}Date{%endtrans%}</td>
                        <td>{{ sale.s_sale_date.format('l jS') }} of {{ sale.s_sale_date.format('F Y') }}</td>
                    </tr>
                    <tr>
                        <td class="meta-head">{%trans%}Time{%endtrans%}</td>
                        <td>{{ sale.s_sale_date.format('h:i:s A') }}</td>
                    </tr>
                    <tr>
                        <td class="meta-head">{%trans%}Cashier Name{%endtrans%}</td>
                        <td>{{ app.user.name }}</td>
                    </tr>
                    <tr>
                        <td class="meta-head">{%trans%}Total Due{%endtrans%}</td>
                        <td><div class="due">{{ sale.s_sale_total_price - sale.s_sale_discount }} {%trans%}L.E.{%endtrans%}</div></td>
                    </tr>
                </table>
            </div>
            <table id="items">
                <tr>
                    <th>{%trans%}Serial{%endtrans%}</th>
                    <th>{%trans%}Description{%endtrans%}</th>
                    <th>{%trans%}Category{%endtrans%}</th>
                    <th>{%trans%}Price L.E.{%endtrans%}</th>
                </tr>
                {% for item in sale.items.with_serial %}
                    {% if item.i_item_status != 'warranty_replaced' %}
                    <tr class="item-row">
                        <td class="item-name">{{ item.i_item_serial }}</td>
                        <td class="description">{{ item.br_brand_name }} {{ item.m_model_name }} {{ item.co_color_name }} {{ item.m_model_number }}</td>
                        <td>{{ item.ca_category_name }}</td>
                        <td>{{ item.quantity }} &times; {{ item.i_item_sell_price }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                {% for item in sale.items.without_serial %}
                    {% if item.i_item_status != 'warranty_replaced' %}
                    <tr class="item-row">
                        <td class="item-name">{{ item.m_model_serial }}</td>
                        <td class="description">{{ item.br_brand_name }} {{ item.m_model_name }} {{ item.co_color_name }} {{ item.m_model_number }}</td>
                        <td>{{ item.ca_category_name }}</td>
                        <td>{{ item.quantity }} &times; {{ item.i_item_sell_price }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                <tr class="last-row">
                    <td colspan="2" class="blank"></td>
                    <td class="total-value bold"><b>{%trans%}Subtotal{%endtrans%}</b></td>
                    <td class="total-value bold"><div id="subtotal">{{ sale.s_sale_total_price }}</div></td>
                </tr>
                {# if sale.s_sale_discount #}
                <tr>
                    <td colspan="2" class="blank"></td>
                    <td class="total-value bold">{%trans%}Discount{%endtrans%}</td>
                    <td class="total-value bold"><div id="discount">{{ sale.s_sale_discount }}</div></td>
                </tr>
                {# endif #}
                <tr>
                    <td colspan="2" class="blank"></td>
                    <td class="total-value bold">{%trans%}Total{%endtrans%}</td>
                    <td class="total-value bold"><div id="total">{{ sale.s_sale_total_price - sale.s_sale_discount }}</div></td>
                </tr>
                
                {% if sale.payments|length %}
                        <tr class="row-separator">
                            <td colspan="4" class="blank"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="blank"></td>
                            <th colspan="2">{%trans%}Payments{%endtrans%}</th>
                        </tr>
                        <tr>
                            <td colspan="2" class="blank"></td>
                            <th>{%trans%}Date{%endtrans%}</th>
                            <th>{%trans%}Amount{%endtrans%}</th>
                        </tr>
                        {% for payment in sale.payments %}
                        <tr>
                            <td colspan="2" class="blank"></td>
                            <td class="total-value payment-date">{{ payment.po_postpaid_date.format('Y-m-d') }}</td>
                            <td class="total-value payment-amount">{{ payment.po_postpaid_amount }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2" class="blank"></td>
                            <td class="total-value bold">{%trans%}Total Paid{%endtrans%}</td>
                            <td class="total-value bold">{{ sale.po_total_paid }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="blank"></td>
                            <td class="total-value bold">{%trans%}Remaining{%endtrans%}</td>
                            <td class="total-value bold">{{ sale.s_sale_total_price - sale.s_sale_discount - sale.po_total_paid }}</td>
                        </tr>
                {% endif %}
            </table>
            <div id="terms">
              <h5>{%trans%}Terms{%endtrans%}</h5>
              <div>NET 30 Days. Finance Charge of 1.5% will be made on unpaid balances after 30 days.</div>
            </div>
            <div class="print-control">
                <a href="javascript:window.print()" class="btn btn-lg btn-default btn-print">{%trans%}Print{%endtrans%}</a>
                <a href="javascript:window.close()" class="btn btn-lg btn-default btn-print">{%trans%}Close{%endtrans%}</a>
            </div>
        </div>
    </body>
</html>
{% endblock %}