{% extends 'istoregomlaphoneBundle::layout.html.twig' %}
{% block body %}
<div class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-heading-sale">{% trans %}Edit Bill{% endtrans %} #{{ sale.s_id }}</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="saleForm" role="form" method="post" action="/sale/edit">
                <div class="immutable-bulk-view-data">
                    <div class="row customer-data">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="customerName" class="col-sm-4 control-label">{% trans %}Customer Name{% endtrans %} :</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control text-center" id="customerName" name="customerName" placeholder="{%trans%}Customer Name{%endtrans%}" value="{{sale.c_customer_name}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="customerPhone" class="col-sm-3 control-label">{% trans %}Phone{% endtrans %} :</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control text-center" id="customerPhone" name="customerPhone" placeholder="{%trans%}Phone Number{%endtrans%}" value="{{sale.c_customer_phone}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row input-serial alert-serial-sale immutable-bulk-view-data">
                                <div class="col-md-7 col-md-offset-2">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg text-center" id="itemSerial" name="itemSerial" placeholder="{% trans %}Item Serial{% endtrans %}">
                                        <label for="itemSerial" class="serial-error"></label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <button id="item-serial-sale" data-loading-text="{% trans %}Loading{% endtrans %}" class="btn btn-warning btn-lg" type="button">{% trans %}Check{% endtrans %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row item-list">
                                <div class="col-md-12">
                                    <input type="hidden" id="itemList" name="itemList" value="" />
                                    <table class="table table-bordered table-view table-view-sale tablesorter">
                                        <thead>
                                            <tr class="table-header warning">
                                                <th>{% trans %}Serial{% endtrans %}</th>
                                                <th>{% trans %}Item{% endtrans %}</th>
                                                <th>{% trans %}Category{% endtrans %}</th>
                                                <th>{% trans %}Qty{% endtrans %}</th>
                                                <th class="table-col-price">{% trans %}Average Price{% endtrans %}</th>
                                                <th class="table-col-price">{% trans %}Sell Price{% endtrans %}</th>
                                                <th class="table-col-action">{% trans %}Action{% endtrans %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-empty-row">
                                                <td colspan="7">{% trans %}There is no items.{% endtrans %}</td>
                                            </tr>
                                            <tr class="table-footer">
                                                <td colspan="4" rowspan="3">
                                                    <div class="row padding-10">
                                                        <div class="col-md-12">
                                                            <label for="paymentMethod" class="col-md-5 control-label">{% trans %}Payment{% endtrans %} : </label>
                                                            <div class="col-md-6">
                                                                <select class="form-control" id="paymentMethod" name="paymentMethod">
                                                                    <option value="prepaid" {% if sale.payments|length == 0 %}selected{% endif %}>{% trans %}Prepaid{% endtrans %}</option>
                                                                    <option value="postpaid" {% if sale.payments|length > 0 %}selected{% endif %}>{% trans %}Postpaid{% endtrans %}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row padding-10 input-amount-paid {% if sale.payments|length == 0 %}hidden{% endif %}">
                                                        <div class="col-md-12">
                                                            <label for="amountPaid" class="col-md-5 control-label">{% trans %}Amount Paid{% endtrans %} : </label>
                                                            <div class="col-md-6">
                                                                <input type="number" class="form-control text-center" id="amountPaid" name="amountPaid" placeholder="Amount L.E." value="{{sale.s_sale_total_paid}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row padding-10 input-amount-paid {% if sale.payments|length == 0 %}hidden{% endif %}">
                                                        <div class="col-md-12">
                                                            <label for="remainingAmount" class="col-md-5 control-label">{% trans %}Remaining{% endtrans %} : </label>
                                                            <div class="col-md-6">
                                                                <label id="remainingAmount" name="remainingAmount" class="col-md-8 control-label">0 {% trans %}L.E.{% endtrans %}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <th>{% trans %}Subtotal{% endtrans %}</th>
                                                <th colspan="2" id="subtotal">0 {% trans %}L.E.{% endtrans %}</th>
                                            </tr>
                                            <tr class="">
                                                <th>{% trans %}Discount{% endtrans %}</th>
                                                <td colspan="2" class="discount-field">
                                                    <input type="number" class="form-control text-center" id="saleDiscount" name="saleDiscount" value="{{ sale.s_sale_discount }}" placeholder="{% trans %}Discount L.E.{% endtrans %}">
                                                </td>
                                            </tr>
                                            <tr class="">
                                                <th>{% trans %}Total{% endtrans %}</th>
                                                <th colspan="2" id="total">0 {% trans %}L.E.{% endtrans %}</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a class="col-md-3 col-md-offset-2 btn btn-primary btn-lg btn-checkout">{%trans%}Edit Bill{%endtrans%}</a>
                                    <a class="col-md-3 col-md-offset-2 btn btn-danger btn-lg" href="/sale/prepaid">{%trans%}Back to sales{%endtrans%}</a>
                                    {#% include('istoregomlaphoneBundle:Default:addCustomer.html.twig') %#}
                                    <a id="bill-link" class="hidden" href=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{#% include('istoregomlaphoneBundle:Sale:addItem.html.twig') %#}
<script>
    {% set items = [] %}
    {% set items = items|merge(sale.items.with_serial) %}
    {% set items = items|merge(sale.items.without_serial) %}
        
    $(function(){
        var itemListTemp = {{ items|json_encode|raw }};
        //console.log(itemListTemp);
        //itemList = $('#itemList');

        //var addItem = require("addItem");
        $.each(itemListTemp , function (index, value){
            globals.item = value;
            //console.log(globals.item);
            var displayedSerial;
            var itemQuantity = $('#itemQuantity').val();
            globals.item['s_sale_quantity'] = itemQuantity;

            if(globals.item.m_model_item_has_serial)
                displayedSerial = globals.item.i_item_serial;
            else
                displayedSerial = globals.item.m_model_serial;

            if(globals.item.m_model_item_has_serial)
                globals.itemList.push(globals.item);
            else
                for(var i=0 ; i<itemQuantity ; i++){
                    globals.itemList.push(globals.bulk[i]);
                    globals.bulkList.push(globals.bulk[i]);
                }
           //console.log(globals.itemList)
            var tableRow =  "<tr class='model-" + globals.item.m_id + "' id='" + globals.item.m_id + "'>" +
                            "<td>" + displayedSerial + "</td>" +
                            "<td>" + globals.item.br_brand_name + ' '
                                   + globals.item.m_model_name + ' '
                                   + globals.item.co_color_name + ' '
                                   + globals.item.m_model_number +
                            "</td>"+
                            "<td>" + globals.item.c_category_name + "</td>" +
                            "<td>" +
                                     (globals.item.m_model_item_has_serial ? 1 : "<input type='number' class='form-control text-center item-quantity' data-id='" + globals.item.m_id + "' value='1'/>") +
                            "</td>"+
                            "<td>" + '<label class="average-buy-price">' + globals.item.i_item_average_price + '</label>'
                                   + '<input type="hidden" class="item-buy-price" value="'+ globals.item.i_item_average_price +'">' +
                            "</td>"+
                            "<td><input type='number' class='form-control text-center item-sell-price' data-id='" + (globals.item.m_model_item_has_serial ? globals.item.i_id : globals.item.m_id) + "' value='" + globals.item.i_item_sell_price + "'/></td>" +
                            "<td>" +
                                "<a class='btn btn-sm btn-danger btn-remove-item'>"+ lang['Remove'] +"</a>" +
                            "</td>"+
                        "</tr>";
            $('.table-view-sale .table-footer').before(tableRow);
            $('.table-empty-row').addClass('hidden');
            //clearItem();
            //$('#alert-message').html(alertInfoMessage(lang['Item added to list.']));
            console.log(globals.itemList)
            globals.itemListRequired = new Array();
            $.each(globals.itemList , function (index, value){
                var requiredItem = {
                    itemId: value.i_id ,
                    sellPrice: value.i_item_sell_price 
                };
                globals.itemListRequired.push(requiredItem);
                $('#itemList').val(JSON.stringify(globals.itemListRequired));
            });
            globals.item = null;

            $('#subtotal').html(globals.calculateSubtotal() + lang[' L.E.']);
            $('#total').html(globals.calculateTotal() + lang[' L.E.']);
            //console.log(globals.itemListRequired);
        });
    });
    
</script>
<input type="hidden" id="action" name="action" value="edit" />
<input type="hidden" id="controller" name="controller" value="sale" />
{% endblock %}