{% extends 'istoregomlaphoneBundle::layout.html.twig' %}
{% block body %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4 class="">
                    <div class="row">
                        <div class="col-lg-2 padding-top-7">
                            {% if action == 'postpaid' %}
                            {% trans %}Postpaid Sales{% endtrans %}
                            {% elseif action == 'prepaid' %}
                            {% trans %}Prepaid Sales{% endtrans %}
                            {% elseif action == 'discount' %}
                            {% trans %}Sales Discounts{% endtrans %}
                            {% elseif action == 'index' %}
                            {% trans %}All Sales{% endtrans %}
                            {% endif %}
                        </div>
                        <div class="col-lg-1 col-lg-offset-5">
                            <!--<a {% if action!='index' %}href="/sale"{% endif %} class="btn btn-warning btn-md {% if action=='index' %}active{% endif %}">{% trans %}All Sales{% endtrans %}</a>-->
                        </div>
                        <div class="col-lg-1">
                            <a {% if action!='prepaid' %}href="/sale/prepaid"{% endif %} class="btn btn-warning btn-md {% if action=='prepaid' %}active{% endif %}">{% trans %}Prepaid{% endtrans %}</a>
                        </div>
                        <div class="col-lg-1">
                            <a {% if action!='postpaid' %}href="/sale/postpaid"{% endif %} class="btn btn-warning btn-md {% if action=='postpaid' %}active{% endif %}">{% trans %}Postpaid{% endtrans %}</a>
                        </div>
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                        <div class="col-lg-1">
                            <a {% if action!='discount' %}href="/sale/discount"{% endif %} class="btn btn-warning btn-md {% if action=='discount' %}active{% endif %}">{% trans %}Discounts{% endtrans %}</a>
                        </div>
                        {% endif %}
                        <div class="col-lg-1 padding-top-7">
                            <span class="badge {% if(lang=='ar') %}pull-left{% else %}pull-right{% endif %}">({{ total_sales }}) {% trans %}sales{% endtrans %}</span>
                        </div>
                    </div>
		</h4>
	</div>
	<div class="panel-body">
		<table class="table table-hover table-view">
			<tr>
				<th>{% trans %}Bill#{% endtrans %}</th>
				<th>{% trans %}Customer Name{% endtrans %}</th>
                                {% if action == 'discount' %}
                                <th>{% trans %}Subtotal{% endtrans %}</th>
                                <th>{% trans %}Discount{% endtrans %}</th>
                                {% endif %}
                                <th>{% trans %}Total Due{% endtrans %}</th>
                                {% if action == 'postpaid' %}
                                    <th>{% trans %}Total Paid{% endtrans %}</th>
                                    <th>{% trans %}Remaining{% endtrans %}</th>
                                {% endif %}
				<th>{% trans %}Date{% endtrans %}</th>
				<th>{% trans %}Actions{% endtrans %}</th>
			</tr>
                {% if sales|length %}
		{% for sale in sales %}
			<tr class="sale-{{ sale.s_id }} {% if sale.s_sale_total_price - sale.s_sale_discount - sale.po_total_paid == 0 %}warning{%endif%}">
				<td>{{ sale.s_id }}</td>
                                {% if action == 'prepaid' %}
				<td><a href="/customer/prepaid/{{sale.cu_id}}" class="btn btn-md btn-link">{{ sale.cu_customer_name }}</a></td>
                                {% else %}
				<td><a href="/customer/postpaid/{{sale.cu_id}}" class="btn btn-md btn-link">{{ sale.cu_customer_name }}</a></td>
                                {% endif %}
                                {% if action == 'discount' %}
                                <td>{{ sale.s_sale_total_price }} {% trans %}L.E.{% endtrans %}</td>
                                <td>{{ sale.s_sale_discount }} {% trans %}L.E.{% endtrans %}</td>
                                {% endif %}
                                <td>{{ sale.s_sale_total_price - sale.s_sale_discount }} {% trans %}L.E.{% endtrans %}</td>
                                {% if action == 'postpaid' %}
                                    <td class="total-paid">{{ sale.po_total_paid }} {% trans %}L.E.{% endtrans %}</td>
                                    <td class="total-remaining">{{ sale.s_sale_total_price - sale.s_sale_discount - sale.po_total_paid }} {% trans %}L.E.{% endtrans %}</td>
                                {% endif %}
                                <td>{{ sale.s_sale_date.format('Y-m-d H:i:s') }}</td>
				<td>
                                        {% if action == 'postpaid' %}
                                            {% if sale.s_sale_total_price - sale.s_sale_discount - sale.po_total_paid %}
                                            <a href="#" class="btn btn-success btn-sm btn-payment-modal" data-id="{{sale.s_id}}">{% trans %}New Payment{% endtrans %}</a>
                                            {% else %}
                                            <a href="#" class="btn btn-default btn-sm disabled" data-id="{{sale.s_id}}">{% trans %}Completed{% endtrans %}</a>
                                            {% endif %}
                                            <a href="#" class="btn btn-primary btn-sm btn-view-payments" data-id="{{sale.s_id}}">{% trans %}View Payments{% endtrans %}</a>
                                        {% elseif action == 'discount' %}
                                            <a href="/sale/{{sale.s_id}}" class="btn btn-danger btn-sm btn-discount-modal {% if sale.s_sale_discount_confirmed %}hidden{% endif %}" data-id="{{sale.s_id}}:{{ sale.s_sale_discount }}">{% trans %}Confirm Discount{% endtrans %}</a>
                                            <a href="#" class="btn btn-default btn-sm disabled btn-discount-confirmed {% if not sale.s_sale_discount_confirmed %}hidden{% endif %}" data-id="{{sale.s_id}}">{% trans %}Confirmed{% endtrans %}</a>
                                        {% endif %}
                                        <a href="/sale/bill/{{sale.s_id}}" class="btn btn-info btn-sm" target="_blank">{% trans %}View Bill{% endtrans %}</a>
                                        {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                                            <a href="/sale/edit/{{sale.s_id}}" class="btn btn-primary btn-sm">{% trans %}Edit{% endtrans %}</a>
                                            <a href="#" data-id="{{sale.s_id}}" class="btn btn-danger btn-sm btn-refund-sale-modal">{% trans %}Refund{% endtrans %}</a>
                                        {% endif %}
                                        <!--<a href="#" class="btn btn-danger btn-sm btn-delete" data-id="sale:{{sale.s_id}}:bill #{{sale.s_id}}">{% trans %}Delete{% endtrans %}</a>-->
				</td>
			</tr>
		{% endfor %}
                {% else %}
                        <tr>
                            <td colspan="9">{% trans %}There are no sales.{% endtrans %}</td>
			</tr>
                {% endif %}
			<tr>
				<td colspan="9"><div id="{% if(lang=='ar') %}paginator-ar{% else %}paginator{% endif %}"></div></td>
			</tr>
		</table>
	</div>
	<div class="panel-footer">
		<input type="hidden" value="{% if total_pages > 0 %}{{total_pages}}{% else %}1{% endif %}" id="total_pages">
		<input type="hidden" value="{{ current_page }}" id="current_page">
	</div>
</div>
<!-- Delete Confirmation modal -->
<div class="modal fade bs-modal-sm" tabindex="-1" id="deleteConfirmation" role="dialog" aria-labelledby="DeleteConfirmationModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <label id="entityName"></label>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                <a href="" class="btn btn-danger btn-sm btn-delete-confirm">Delete</a>
            </div>
        </div>
    </div>
</div>
<div id="addPaymentModalContainer"></div>
<div id="viewPaymentsModalContainer"></div>

<!-- Refund Sale Modal -->
<div class="modal fade" id="refundSaleModal" tabindex="-1" role="dialog" aria-labelledby="refundSaleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <input type="hidden" name="refundSaleId" id="refundSaleId">
                {%trans%}Are you sure that you want to refund sale#{%endtrans%} <label id="_refundSaleIdLabel"></label>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">{%trans%}Cancel{%endtrans%}</a>
                <a href="#" class="btn btn-danger btn-refund-sale">{%trans%}Confirm Refund{%endtrans%}</a>
            </div>
        </div>
    </div>
</div>
<!-- End of Submodal -->


<!-- Confirm Discount Modal -->
<div class="modal fade" id="confirmDiscountModal" tabindex="-1" role="dialog" aria-labelledby="confirmDiscountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <input type="hidden" name="discountSaleId" id="discountSaleId">
                {%trans%}Are you sure that you want to confirm discount{%endtrans%}
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">{%trans%}Cancel{%endtrans%}</a>
                <a href="#" class="btn btn-danger btn-confirm-discount">{%trans%}Confirm Discount{%endtrans%}</a>
            </div>
        </div>
    </div>
</div>
<!-- End of Submodal -->

<input type="hidden" value="{{ action }}" id="action">
<input type="hidden" value="{{ controller }}" id="controller">
{% endblock %}